<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .jumbotron h1 {
        font-size: 90%;
      }
      footer {
        text-align: right;
      }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Dicționar Scrabble</h1>
        <form class="form-inline" name="scrabble">
          <div class="form-group">
            <input class="form-control" type="search"
                   name="q" placeholder="... cuvânt ..." autofocus>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">caută</button>
          </div>
        </form>
        <p class="result">&nbsp;</p>
      </div>
    </div>
    <footer class="container">
      {% set url = "https://github.com/mgax/dexonline-scrabble#readme" %}
      <a href="{{ url }}">detalii proiect</a>
    </footer>

    <script src="static/jquery-1.8.3.js"></script>
    <script src="static/underscore.js"></script>
    <script>
    (function() {
      "use strict";

      var SD = window.SD = {};

      SD.form = $('form[name=scrabble]');
      SD.out = $('.result');


      SD.letter_map = {
          'Ș': 'S',
          'Ş': 'S',
          'Ț': 'T',
          'Ţ': 'T',
          'Ă': 'A',
          'Î': 'I',
          'Â': 'A'
      };


      SD.normalize = function(word) {
          var new_word = '';
          _(word.toUpperCase()).forEach(function(letter) {
              if(SD.letter_map[letter]) {
                  letter = SD.letter_map[letter];
              }
              new_word += letter;
          });
          return new_word;
      };


      SD.form.submit(function(evt) {
          evt.preventDefault();
          var word_input = SD.form.find('[name=q]');
          var word = SD.normalize(word_input.val());

          SD.out.text('...');

          $.get('check', {word: word}).done(function(result) {
            var url = ('http://dexonline.ro/definitie/'
                       + encodeURIComponent(word));
            var word_link = $('<a>', {href: url}).text(word);
            var message = result.match ? ' e ok' : ' nu există';
            SD.out.empty().append(word_link, message);
          });

          word_input.select();
      });
    })();
    </script>
  </body>
</html>
